p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 50px;
  text-align: center;
}

.fa-small {
  font-size: 16px !important;
}

/* .chip img {
  max-width: 2rem;
  max-height: 2rem;
  border-radius: 100%;
} */

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}